<footer class="footer">
    <div class="container">
        <div class="level">
            <div class="level-start has-text-centered-mobile">
                <a class="footer-logo is-block has-mb-6" href="<%- url_for('/') %>">
                <!-- <% if (has_config('logo.text') && get_config('logo.text')) { %>
                    <%= get_config('logo.text') %>
                <% } else { %>
                    <img src="<%- url_for(get_config('logo')) %>" alt="<%= get_config('title') %>" height="28">
                    memset0's blog
                <% } %> -->
                </a>
                <p class="is-size-7">
                &copy; 2017 - <%= date(new Date(), 'YYYY') %> <%= get_config('author') || get_config('title') %>&nbsp;
                </p>
                <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
                <p class="is-size-7">
                    <span>
                        <span><%= totalcount(site, '0,0.0a') %></span> Words
                    </span>
                    <span id="busuanzi_container_site_pv" style='display:none'>
                    <span class="division">|</span>
                    <span id="busuanzi_value_site_pv"></span> Views
                    </span>
                    <span id="busuanzi_container_site_uv" style='display:none'>
                    <span class="division">|</span>
                    <span id="busuanzi_value_site_uv"></span> Visitors
                    </span>
                </p>
                <p class="is-size-7">
                    Powered by Hexo & Icarus & Coding Pages & Love
                </p>
            </div>
            <div class="level-end">
            <% if (has_config('footer.links')) { %>
                <div class="field has-addons is-flex-center-mobile has-mt-5-mobile is-flex-wrap is-flex-middle">
                <% let links = get_config('footer.links'); %>
                <% for (let name in links) {
                        let link = links[name]; %>
                <p class="control">
                    <a class="button is-white <%= typeof(link) !== 'string' ? 'is-large' : '' %>" target="_blank" title="<%= name %>" href="<%= url_for(typeof(link) === 'string' ? link : link.url) %>">
                        <% if (typeof(link) === 'string') { %>
                        <%= name %>
                        <% } else { %>
                        <i class="<%= link.icon %>"></i>
                        <% } %>
                    </a>
                </p>
                <% } %>
                </div>
            <% } %>
            </div>
        </div>
    </div>
</footer>